.container {
color:black;
background:SlateBlue;
display: grid;
grid-template-columns: 100px 20px 100px;
grid-template-rows: 80px 80px 80px;
column-gap: 10px;
text-align: center;
}

    /* This is a comment */
    .wrapper {
display: flex;
flex-flow: row wrap;
}

.wrapper > * {
flex: 1 100%;
}
@media all {
.aside { flex: 1 auto; }
}
@media screen and (min-width: 1500px) {
body {
  background-color: lightgreen;
}
}
#sel
{
  background-color:yellow;
}
*
{
background-color:Ivory;
}
h1 {
  font-size: 10vw;
}
h2 {
  font-size: 6vmin;
}
h3 {
  font-size: 0.6cm;
  line-height: 5mm;
}
p {
 font-size: 25px;
 line-height: 2em;
}

p.round {
  border-style: dotted;
  border-width: 2px;
  border-color: green;
  border-radius: 10px;
  }
  .miao {
    color: green;
    text-align: center;
    text-decoration: underline;
  }
